In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('선박 화재 발생 일자 데이터.xlsx', header=None)

In [4]:
df.head()

                    0      1    2
0 2019-01-02 13:34:00  부산광역시  영도구
1 2019-01-03 11:35:00  부산광역시  영도구
2 2019-01-03 12:09:00   전라남도  고흥군
3 2019-01-05 13:38:00   전라남도  목포시
4 2019-01-10 00:20:00   경상남도  거제시

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596 entries, 0 to 595
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       596 non-null    datetime64[ns]
 1   1       596 non-null    object
 2   2       596 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 14.1+ KB

In [6]:
df['year'] = df[0].dt.year
df['month'] = df[0].dt.month
df['day'] = df[0].dt.day

df = df.drop(0, axis=1)

In [7]:
df.head()

       1    2  year  month  day
0  부산광역시  영도구  2019      1    2
1  부산광역시  영도구  2019      1    3
2   전라남도  고흥군  2019      1    3
3   전라남도  목포시  2019      1    5
4   경상남도  거제시  2019      1   10

In [25]:
df[1].unique()

array(['부산광역시', '전라남도', '경상남도', '강원특별자치도', '경상북도', '전북특별자치도', '인천광역시',
       '제주특별자치도', '서울특별시', '울산광역시', '경기도', '충청남도'], dtype=object)

In [36]:
apikey = "ikyOZ5uYRSGMjmebmJUhoQ"
stn_dic = { "부산광역시": 159,
            "전라남도": 168,
            "경상남도": 159,
            "강원특별자치도": 119,
            "경상북도": 143,
            "전북특별자치도": 146,
            "인천광역시": 112,
            "제주특별자치도": 184,
            "서울특별시": 108,
            "울산광역시": 152,
            "경기도": 119,
            "충청남도": 177
        }

In [20]:
import requests  # requests 모듈 임포트

def download_file(save_path, date, stn):
    url = 'https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=' + date + '&stn='+ stn +'&help=0&authKey=' + apikey
    print(url)
    with open(save_path, 'wb') as f: # 저장할 파일을 바이너리 쓰기 모드로 열기
        response = requests.get(url) # 파일 URL에 GET 요청 보내기
        f.write(response.content) # 응답의 내용을 파일에 쓰기

In [40]:
i = 0
for stn in stn_dic:
    save_file_path = 'output_file' + stn + '.txt'
    download_file(save_file_path, '202211300900', str(stn_dic[stn]))


#https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=0&help=1&authKey=ikyOZ5uYRSGMjmebmJUhoQ

https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=159&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=168&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=159&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=119&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=143&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=146&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=112&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=184&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=108&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=152&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=119&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=202211300900&stn=177&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ

In [66]:
for i in range(596):
    region = df.iloc[i][1]
    date = f"{df.iloc[i]['year']}{str(df.iloc[i]['month']).zfill(2)}{str(df.iloc[i]['day']).zfill(2)}1300"
    download_file(save_file_path, date, str(stn_dic[region]))
    break

201901021300
https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=201901021300&stn=159&help=0&authKey=ikyOZ5uYRSGMjmebmJUhoQ